<!-- Profile form modal -->
<div id="editDeveloperModal" class="reveal-modal medium modal-pos">
  <div class="panel">
  <%= form_for @developer do |f| %>
    <div>
      <h3 class="subheader">Personal Information</h3>
      <div class="row">
        <div class="large-4 columns">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name %>
        </div> <!-- /large-4 col -->
         <div class="large-4 columns">
          <%= f.label :profession, 'Profession' %>
          <%= f.text_field :profession %>
        </div> <!-- /large-4 col -->
        <div class="large-4 columns">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email %>
        </div> <!-- /large-4 col -->
      </div>
    </div>
  <!-- nav buttons -->
    <div class="row">
      <div class="small-4 columns">
        <%= f.submit "Submit", class: "button" %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  <% end %> <!-- /form_for -->
</div> <!-- /modal-12 col -->
