<div class="panel">
  <ul data-orbit>
    <% @projects.each do |project| %>
      <li class= <%= "project-id-#{project.id}" %> >
        <h1><a href=<%= project.url %> /><%= project.title %></a></h1>

        <% if project.code_snippet %>
          <pre class="prettyprint"><%= project.code_snippet %></pre>
        <% else %>
          <img src="http://foundation.zurb.com/docs/img/demos/orbit/demo1.jpg" />
        <% end %>
        <div class="orbit-caption"><%= project.description %></div>
      </li>
    <% end %>
  </ul>
</div> <!-- /panel -->



