<div class="pro-background">

<!-- Profile -->
  <div class="panel profile">
    <div class="row">
      <div id="profile-photo" class="small-6 large-6 columns" style="position: relative;">
        <div class="avatar" style="top: -15px;">
          <% if @developer.github_avatar == nil %>
            <%= image_tag "logo.png", {class: "avatar-image"}%>
          <% else %>
            <%= image_tag @developer.github_avatar, {class: "avatar-image"} %>
          <% end %>
        </div>
      </div>
      <div class="small-6 large-6 columns">
        <h3 id="developer-name" class="subheader"><%= @developer.name %></h3>
        <h5 class="subheader"><%= @developer.profession %></h5>
        <h5 class="subheader"><% link_to "@developer.email" %>Contact me</h5>
      </div>
    </div>
  </div>

  <!-- Projects -->
  <% @html_projects.each_with_index do |project, i| %>
    <a name="<%= i %>"></a>
    <div class="panel pro-fill<%= i % 2 %> highlights">
      <div class="row">
    <!-- Project title -->
        <div class="large-12 columns">
          <h1 class="subheader">
            <a class="project-title" href=<%= project.url %>><%= project.title %></a>
          </h1>
          <h4 class="subheader">My commits to this project: <%= project.commits %></h4>
          <h5 class="subheader"><i class="general foundicon-star"></i> <%= project.get_stars %> stars</h5>
          <h5 class="subheader"><i class="general foundicon-add-doc"></i> <%= project.get_forks %> forks</h5>
          <h5 class="subheader"><i class="general foundicon-address-book"></i> <%= project.watchers %> watchers</h5>
        </div> <!-- /large-12 col -->
      </div> <!-- /row -->
    <!-- Feature chunk -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel project">
            <%= project.markdown %>
          </div>
        </div> <!-- /large-12 col -->
      </div> <!-- /row -->
    </div> <!-- /panel pro-border -->
  <% end %> <!-- projects.each -->

</div> <!-- /pro-background -->
