<div class="panel">
  <ul data-orbit>
    <% @projects.each do |project| %>
      <li class= <%= "project-id-#{project.id}" %> data-orbit-slide= <%= "#{project.id}" %> >
        <h1>
          <% if project.url.match(/www.\w+.\w+/) %>
            <a href=<%= project.url %> >
          <% end %>
            <%= project.title %>
          <% if project.url.match(/www.\w+.\w+/) %>
            </a>
          <% end %>
        </h1>
        <div class="row">
          <div class="large-5 large-offset-1 columns">
            <div class="panel" id="code">
              <%#= project.code %>
<pre>
class ThisIsAwesomeTestCode
  def initialize
    do_amazing_stuff = nil
  end
end
</pre>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel" id="image">
              <%#= project.image %>
              <img src="http://www.vijugi.com/img/2013/08/abstract-background-images-hd-wallpaper.jpg">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="orbit-caption"><%= project.description %></div>
        </div>
      </li>

    <% end %>
  </ul>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="large-<%= @projects.length > 3 ? 4 : 12 / @projects.length %> columns">
        <a href="#" data-orbit-link= <%= "#{project.id}" %> class="button"><%= "#{project.title}" %></a>
      </div>
    <% end %>
  </div>
</div> <!-- /panel -->
