<div class="panel pro-background">

<!-- Profile -->
  <div class="panel">
    <div class="row">
      <div class="small-6 large-6 columns" style="position: relative;">
        <div class="avatar" style="top: -15px;">
          <% if @developer.github_avatar == nil %>
            <%= image_tag "logo.png", {class: "avatar-image"}%>
          <% else %>
            <%= image_tag @developer.github_avatar, {class: "avatar-image"} %>
          <% end %>
        </div>
      </div>
      <div class="small-6 large-6 columns">
        <h3 class="subheader"><%= @developer.name %></h3>
        <h5 class="subheader"><%= @developer.profession %></h5>
        <h5 class="subheader"><% link_to "@developer.email" %>Contact me</h5>
      </div>
    </div>
  </div>

  <!-- Projects -->
  <% @projects.each_with_index do |project, i| %>
    <a name="<%= i %>"></a>
    <div class="panel pro-fill<%= i % 2 %>">
      <div class="row">
    <!-- Project title -->
        <div class="large-12 columns">
          <h1 class="subheader">
            <a href=<%= project.url %> >
              <%= project.title %>
            </a>
          </h1>
        </div> <!-- /large-12 col -->
      </div> <!-- /row -->
    <!-- Feature chunk -->
      <div class="row">
        <div class="large-9 columns">
          <div class="panel">
            This is the feature
          </div>
        </div> <!-- /large-12 col -->
    <!-- Feature description -->
        <div class="large-3 columns">
          <div class="panel">
            This is the feature description
          </div>
        </div> <!-- /large-12 col -->
      </div> <!-- /row -->
      <div class="row">
    <!-- chunk 2 -->
        <div class="large-6 columns">
          <div class="panel">
            This is chunk 2
          </div>
        </div>
    <!-- chunk 3 -->
        <div class="large-6 columns">
          <div class="panel">
            This is chunk 3
          </div>
        </div>
      </div> <!-- /row -->
      <div class="row">
    <!-- chunk 4 -->
        <div class="large-6 columns">
          <div class="panel">
            This is chunk 4
          </div>
        </div>
    <!-- chunk 5 -->
        <div class="large-6 columns">
          <div class="panel">
            This is chunk 5
          </div>
        </div>
      </div> <!-- /row -->
    </div> <!-- /panel pro-border -->
  <% end %> <!-- projects.each -->

</div> <!-- /panel -->
