<!-- Add repo form modal -->
<div id="project-form-modal-repo" class="reveal-modal modal-pos nav-bar-color">
  <% if @projects.count < 5 %>
      <div class="row">
        <div class="small-12 columns center">
          <h3 id="repos" class="subheader">Repositories</h3>
        </div>
      </div>
    <% @repositories.each_with_index do |repo, i| %>
      <div class="row">
        <div class="small-6 columns modal-repo-fill<%= i % 2 %>">
          <h5 class="subheader modal-repo-text"><a href=<%=repo[:url]%> ><%= repo[:name] %></a></h5>
          <% if repo[:description] != "" %>
            <h6 class="subheader modal-repo-text"><%= repo[:description] %></h6>
          <% else %>
            <h6 class="subheader modal-repo-text"><em>No descrption given</em></h6>
          <% end %>
        </div>
        <div class="small-6 columns modal-repo-fill<%= i % 2 %>">
          <%= button_to "Add to projects", project_from_repo_path(repo), class: "small button radius", style: "margin-top: 25px; margin-left: 30%;" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h4 class="subheader">You have created the maximum number of projects allowed.<br>Delete a project in order to add a new one.</h4>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
