<!-- Navbar -->
<div class="contain-to-grid sticky shadow-panel nav-bar-color highlights">
  <nav class="top-bar nav-bar-color">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <a href="/"><%= image_tag "logo.png", {class: "logo-sml"} %></a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
        <ul class="left">
          <li>
            <% if session[:developer_id] == @developer.id %>
              <a href="#" data-reveal-id="project-form-modal-repo">Add Repository</a>
              <%= render 'developers/repositories' %>
            <% end %>
          </li>
          <% @projects.each_with_index do |project, i| %>
            <li class="divider"></li>
            <li>
              <% if session[:developer_id] != @developer.id %>
                <a href="#<%= i %>">Project: <%= project.title %></a>
              <% else %>
                <a href="#" data-reveal-id="project-form-modal-<%= project.id %>">Project: <%= project.title %></a>

                <%= render 'projects/form', project: project %>
              <% end %>
            </li>
          <% end %>
        </ul>

      <!-- Right Nav Section -->
      <% if session[:developer_id] != nil %>
        <ul class="right">
          <li>
            <a href="#" data-reveal-id="editDeveloperModal">Edit Profile</a>
            <%= render 'developers/edit_profile' %>
          </li>
          <li class="divider"></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      <% end %>
    </section>
  </nav>
</div>
<!-- End Navbar -->

<!-- Projects list page -->
<div class="pro_container">
  <div class="pro_vcenter">
    <div class="row">
      <div class="small-12 large-12 small-centered columns">
          <%= render partial: 'public' %>
      </div> <!-- small-8 large-10 -->
    </div> <!-- row -->
  </div> <!-- pro_vcenter -->
</div> <!-- pro_container -->
